@{
    ViewData["Title"] = "Home Page";
    ViewData["userIsLoged"] = false;
}

@if(Model == null)
{
    <div class="text-center">

        <h1 class="display-4">Welcome</h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@


        <a class="btn btn-success" href="/Login">Login</a>
        <a class="btn btn-primary" href="/Signup">Registrarse</a>


    </div>
}
else
{
    ViewData["userIsLoged"] = true;
    <br/>
    @if (!String.IsNullOrEmpty(@ViewBag.Message)) {

        <div class="alert alert-success" role="alert">
            @ViewBag.Message
        </div>    

    }

    @*<h1>Welcome @Model.nombre</h1>*@

   <h1>Menu</h1>



    
}


