@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Grupo</h1>
<h4>Agregar</h4>

<form id="grupo" method="POST" action="">

  <div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control" name="nombre"  placeholder="Nombre" required>
  </div>

  <div class="form-group">
    <label >Descripción</label>
    <input type="text" class="form-control" name="descripcion" placeholder="Descripción" required>
  </div>

  <button type="submit" class="btn btn-success"  onclick="Create" >Guardar</button>

</form>


