@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@




<h1>Usuarios</h1>

<table id="usuarios" class="table table-striped table-bordered" style="width:100%">

        <thead>
            <tr>
                
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha nacimiento</th>
                <th>Email</th>
                
            </tr>
        </thead>

        <tbody>
            
             @foreach(Usuario usuario in ViewBag.usuarios){
                <tr>
                    <td>@usuario.nombre</td>
                    <td>@usuario.apellido</td>
                    <td>@usuario.fechaNacimiento.ToString("dd/MM/yyyy")</td>
                    <td>@usuario.email</td>
                </tr>
             }
           
        </tbody>
        <tfoot>
        </tfoot>
</table>

<script  type="text/javascript">
    $(document).ready(function() {
        $('#usuarios').DataTable({});
    });
</script>