@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Mundial

<h1>Mundial</h1>
<h4>Modificar</h4>

<form id="mundial" method="POST" action="">

  <div class="form-group">
    <label>Año</label>
    <input type="text" class="form-control" value="@Model.anio" name="anio"  placeholder="Año" required readonly>
  </div>

  <div class="form-group">
    <label >Descripción</label>
    <input type="text" class="form-control" value="@Model.descripcion" name="descripcion" placeholder="Descripción" required>
  </div>

  <div class="form-group">
    <label >Sede</label>
    <input type="text" class="form-control" value="@Model.pais" name="pais" placeholder="País" required>
  </div>


  <button type="submit" class="btn btn-primary"  onclick="Edit" >Modificar</button>

</form>